# Python cache
__pycache__/
*.pyc

# Virtual environment
venv/

# Outros exemplos comuns
*.log
*.env
.DS_Store

# VSCode
.vscode

# Cache e Datasets
datasets/

# Modelos Salvos
model/

# Resultados
results/